.about{
  color: $blacklight;
  padding: 80px 0 80px;
  &__heading{
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    :after{
      @extend %hborder-bottom;
    }
  }
  &__desc{
    text-align: center;
  }
  .heading{
    font-size: 36px;
    font-weight: 300;
    margin: 0;
  }
  .desc{
    font-size: 16px;
    font-weight: 300;
  }
}