$raspberry: rgb(171,39,79);

$blacklight: rgb(48,42,61);
$black:rgb(0,0,0);
$white: rgb(255,255,255);

$greylight: rgb(241,241,241);
$greydark: rgb(37,37,37);

$nav-col: $white;
$nav-col-fixed: $greydark;
$nav-bg: $white;
$nav-br-b: $raspberry;

$about-col: $blacklight;
$about-br: $raspberry;

$slider-col: $white;
$slider-br: $raspberry;

$tours-bg: $greylight;
$tours-br: $raspberry;
$tours-col: $white;

$contact-bg: $greylight;
$contact-br: $raspberry;
$contact-col: $greydark;

$footer-bg: $raspberry;
$footer-col: $white;