.nav{
  background-color: rgba($nav-bg,0);
  color: $nav-col;
  position: relative;
  transition: all .5s;
  z-index: 2;
  &__container{
    align-items: center;
    display: flex;
  }
  &__logo{
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__menu{
    flex-grow: 1;
    flex-shrink: 0;
  }
  .logo{
    color: inherit;
    display: block;
    outline: none;
    padding: 14px 0 7px;
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
    }
    &__name{
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .name__text{
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      word-spacing: normal;
    }
    .name__char{
      display: inline-block;
      position: relative;
      &:after{
        border-right: 1px solid $nav-col;
        bottom: 1px;
        content: '';
        display: block;
        height: 0;
        margin: 0 0px 0 0px;
        position: absolute;
        right: -2.5px;
        transition: all .5s;
        width: 0;
      }
      &:nth-child(1){
        &:after{
          height:16px;
        }
      }
      &:nth-child(2){
        &:after{
          height:18px;
        }
      }
      &:nth-child(3){
        &:after{
          height:14px;
        }
      }
      &:nth-child(4){
        &:after{
          height:22px;
        }
      }
      &:nth-child(5){
        &:after{
          height:16px;
        }
      }
      &:nth-child(6){
        &:after{
          height:14px;
        }
      }
      &:nth-child(7){
        &:after{
          display: none;
        }
      }
    }
    .desc__text{
      font-size: 10px;
      font-weight: 400;
    }
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    &__items{
      position: relative;
      display: flex;

    }
    &__underline{
      border-bottom: 2px solid $nav-br-b;
      bottom: 6px;
      height: 0;
      left: 15px;
      position: absolute;
      transition: all .5s;
      width: 38px;
    }
    &__item{
      box-sizing: border-box;
      padding: 5px 15px;
    }

    &__text{
      color: inherit;
      display: block;
      font-size: 14px;
      font-weight: 700;
      outline: none;
      &:link, &:visited, &:hover, &:active {
        text-decoration: none;
      }
    }
    &__text--lang{
      align-self: center;
      display: flex;
    }
    &__lang{
      align-self: center;
      color: inherit;
      display: inline-block;
      padding: 0 5px;
      &:link, &:visited, &:hover, &:active {
        text-decoration: none;
      }
    }
    &__lang--active{
      @extend %prelative;
      &:after{
        border-bottom: 2px solid $nav-col;
        bottom: 1px;
        box-sizing: content-box;
        content: '';
        display: block;
        height: 0;
        left: 5px;
        position: absolute;
        transition: all .5s;
        width: calc(100% - 10px);
      }
    }

  }
}